In [1]:
#1
for i in range(1,6):
    for j in range(6):
        j += i
        print(j)

1
2
3
4
5
6
2
3
4
5
6
7
3
4
5
6
7
8
4
5
6
7
8
9
5
6
7
8
9
10

In [2]:
# 2) creat a list of 1 to 20 number using for loop [1,2,3..20]
# using list conprehension
# [i for i in range(1,21)]

# using for loop
x = []
for i in range(1,21):
    x.append(i)
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [3]:
#3)create a  list of 20 to 1 value using  for loop (dont Use Reverse)

x = []
for i in range(20,0,-1):
    x.append(i)
print(x)

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [4]:
# 4)Cube of odd values between 20 to 40

for x in range(20,40):
    if x%2!= 0:
        print(x**3)

9261
12167
15625
19683
24389
29791
35937
42875
50653
59319

In [10]:
#5) take 5 freinds name in list name=[a,b,c,d,e]
# take corresponding ages in second list age = [20,21,23,25,24]

name = ["Yash","Vaishnav","Tushar","Satyajeet","Prathmesh"]
age = [27,37,18,12,35]

for i,j in zip(name,age):
    print(f"my name is {i},my age is {j}")

my name is Yash,my age is 27
my name is Vaishnav,my age is 37
my name is Tushar,my age is 18
my name is Satyajeet,my age is 12
my name is Prathmesh,my age is 35

In [2]:
# 6
# Given a list , write a python code to swap first and last element of the list

lst = [1,2,3,4,5,6]
def swap(lst):
    if len(lst) >= 2:
        x = lst[0]  
        lst[0] = lst[5] 
        lst[5] = x  
    return lst


result = swap(lst)
print(result)

[6, 2, 3, 4, 5, 1]

In [7]:
# 7 
# Write a python program to get the sum of a only non-negative integers

a = [1,-2,-4,4,10,-3,-5,0]
sum = 0
for i in a:
    if i>=0:
        sum= sum + i
print(sum)

15

In [15]:
# 8
# Write the code to count the length of string

str1 = "akash"
print(len(str1))

# using for loop
str2 = "AIS"
length = 0
for i in str2:
    length += 1
        
print(length)

5
3

In [17]:
# 9
# Write code for factorial 
num = 3

factorial = 1
for i in range(1, num+1):
    factorial *= i
print(factorial)

6