# name : Akash Gaikwad

<!-- name : Akash Gaikwad -->

________________________________________________________________________________________________________________________
- workshop , arranged 10th jan 2022 to 14th jan 2022, online..

- Contact: 9975707273   Gmail: aistatics.info@gmail.com

- Exercise: day1st

_ _________________________________________________________________________________________________________________________
_  _________________________________________________________________________________________________________________________

In [1]:
import numpy as mp
np.random.randint(17021,17083)

17022

#### Print your  name using print function

In [52]:
print("Akash Gaikwad")

Akash Gaikwad

#### Write True or False

#After sentense write variable declaration whether it is true or False
example:  abc=[1,2,4]     # True

abs=3  #True
1__a=[123] #False
a__1=[123] #True
__a=["1111"] #True
kjklkj2=(1,2,3) #True
xyz@=55 #False
x1234t5678990989898=[1,2,3] #True
1233=44 #False
@abs={1,2,3} # False
pune=pune #False
pune=44 #True
pune123=44 #True
123pune=44 #False
1_@pune=44 # False
pune@123=44 #False
pune______12345=["pune"] #True
____pune=["123"] # True
a_1_b_2=abc #True

#### Difference between = and == (in Two lines)

In [3]:
# = is a assignment operator
# == is comparision operator

#### What is difference between list and tuple (in Two lines)

In [4]:
# List is mutable while Tuple is Immutable
# Tuple is denoted by () braces and list in [] braces.

In [2]:
#reason of error 
Print(123)

NameError: name 'Print' is not defined

Python is case sensetive so.... print(123) is right .

#### Use Arithematic Operation for a and b, when a= 5,b=-5

In [4]:
a = 5
b = -5

In [5]:
a+b

0

In [6]:
a-b

10

In [7]:
a/b

-1.0

In [8]:
a*b

-25

#### Use Logical Operation for a and m=10,n=9

In [9]:
m = 10
n = 9

In [76]:
#greater than
m > n and n < m

True

In [77]:
#less than
m < n or n > m

False

In [12]:
#not Equal to
m!=n

True

In [13]:
#Equal to
m==n

False

#### Write code

In [28]:
L=[23,501,"Pune",(1,2,3),2.1,["Python"+"program"]]
L

[23, 501, 'Pune', (1, 2, 3), 2.1, ['Pythonprogram']]

In [29]:
L[5]

['Pythonprogram']

In [30]:
L[1]

501

In [31]:
L[2:5]

['Pune', (1, 2, 3), 2.1]

In [32]:
L[2] = "Baramati"

In [33]:
L[:]

[23, 501, 'Baramati', (1, 2, 3), 2.1, ['Pythonprogram']]

In [34]:
L.append("TCC")

In [35]:
L

[23, 501, 'Baramati', (1, 2, 3), 2.1, ['Pythonprogram'], 'TCC']

In [36]:
L.remove((1,2,3))
L

[23, 501, 'Baramati', 2.1, ['Pythonprogram'], 'TCC']

In [37]:
L.insert(2,(1,2,3))
L

[23, 501, (1, 2, 3), 'Baramati', 2.1, ['Pythonprogram'], 'TCC']

In [40]:
L.clear()
L

[]

In [41]:
del L
L

NameError: name 'L' is not defined

In [42]:
t=(1,9,4,6,2)   #tuple

In [43]:
t[2:]

(4, 6, 2)

In [44]:
t[0:3]

(1, 9, 4)

In [45]:
x = ("a", "b", "c", "d")
x

('a', 'b', 'c', 'd')

In [51]:
print(x[1],x[3])

b d

#### Convert  x variable  type in  list datatype and  check.

In [53]:
lst = list(x)
lst

['a', 'b', 'c', 'd']

In [54]:
type(lst)

list

In [55]:
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Print out second element from areas
print(areas[1])

# Print out last element from areas
print(areas[-1])

# Print out the area of the living room
print(areas[5])

11.25
9.5
20.0

# Set and dict

In [56]:
Sample_data={'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}
Sample_data

{'item1': 45.5, 'item2': 35, 'item3': 41.3, 'item4': 55, 'item5': 24}

In [57]:
Sample_data['item2']

35

In [59]:
Sample_data.keys()

dict_keys(['item1', 'item2', 'item3', 'item4', 'item5'])

In [60]:
Sample_data.values()

dict_values([45.5, 35, 41.3, 55, 24])

In [62]:
Sample_data

{'item1': 45.5, 'item2': 35, 'item3': 41.3, 'item4': 55, 'item5': 24}

In [67]:
# Create the d
d = {"hallway": 11.25, "kitchen":18.0, "living room": 20.0, "bedroom": 10.75, "bathroom": 9.50}

In [68]:
# Replace the bathroom area by 10
d["bedroom"] = 10
d

{'hallway': 11.25,
 'kitchen': 18.0,
 'living room': 20.0,
 'bedroom': 10,
 'bathroom': 9.5}

In [71]:
# Change "living room" to "chill zone"
d["chill zone"] = d["living room"]
del d["living room"]
d

{'hallway': 11.25,
 'kitchen': 18.0,
 'bedroom': 10,
 'bathroom': 9.5,
 'chill zone': 20.0}

#### Create Empty set and check type

In [72]:
s = set()
type(s)

set

#### Create two sets name of X and Y and apply two methods

In [73]:
X = {1,2,3,4,5}
Y = {3,4,5,6,7}

In [74]:
X.union(Y)

{1, 2, 3, 4, 5, 6, 7}

In [75]:
X.intersection(Y)

{3, 4, 5}

#### Create  list name of L1 and apply Five methods

In [79]:
L1 = [1,22,3,4,4,"vaishnav",10,"akash"]
#1
L1.append("AIS")
#2
L1.count(4)

2

In [80]:
L1

[1, 22, 3, 4, 4, 'vaishnav', 10, 'akash', 'AIS']

In [81]:
L2 = [100,200,300]
L1.extend(L2)

In [82]:
L1

[1, 22, 3, 4, 4, 'vaishnav', 10, 'akash', 'AIS', 100, 200, 300]

In [84]:
L1.index("akash")

7

In [85]:
L1.clear()

In [86]:
L1

[]

#### Create  tuple name of T1 and apply two methods

In [91]:
T1 = (1,2,3,4,4)

In [92]:
TP.index(2)

1

In [94]:
TP.count(4)

2

#### Create dict name of D1 and apply two methods

In [96]:
D1 = {"name":"prajyot",
     "surname":"patil",
     "company":"AIS",
     "EST": 2015}

In [97]:
D1.pop("name")

'prajyot'

In [98]:
D1.clear()
print(D1)

{}

#### Write variable declaration norms

In [100]:
# 1. variable name must start with a letter or an underscore(_).
# 2. variable name cannot start with a digit.
# 3. variable name cannot contain special character(@#$%* etc).

# Thank You!